In [6]:
import pandas as pd
position = pd.read_csv('position.csv',encoding='utf-8')
company = pd.read_csv('company_utf.csv',encoding='utf-8')

In [7]:
position.head()

   positionId city  companyId firstType secondType  ...   salary bottom top   avg workYear
0     2537336   上海       8581        技术       数据开发  ...    7k-9k      7   9   8.0    应届毕业生
1     2427485   上海      23177        技术       数据开发  ...  10k-15k     10  15  12.5    应届毕业生
2     2511252   上海      57561        设计       数据分析  ...    4k-6k      4   6   5.0    应届毕业生
3     2427530   上海       7502     市场与销售       数据分析  ...    6k-8k      6   8   7.0    应届毕业生
4     2245819   上海     130876        技术       软件开发  ...    2k-3k      2   3   2.5    应届毕业生

[5 rows x 15 columns]

In [8]:
company.head()

   companyId    companyFullName                  companyLabelList companyShortName companySize           businessZones
0       8581     纽海信息技术(上海)有限公司  ['技能培训', '节日礼物', '带薪年假', '岗位晋升']              1号店     2000人以上                  ['张江']
1      23177   上海点荣金融信息服务有限责任公司  ['节日礼物', '带薪年假', '岗位晋升', '扁平管理']              点融网   500-2000人  ['五里桥', '打浦桥', '制造局路']
2      57561     上海晶樵网络信息技术有限公司  ['技能培训', '绩效奖金', '岗位晋升', '管理规范']              SPD     50-150人                 ['打浦桥']
3       7502  杭州数云信息技术有限公司上海分公司  ['绩效奖金', '股票期权', '五险一金', '通讯津贴']               数云    150-500人  ['龙华', '上海体育场', '万体馆']
4     130876     上海银基富力信息技术有限公司  ['年底双薪', '通讯津贴', '定期体检', '绩效奖金']             银基富力      15-50人   ['上海影城', '新华路', '虹桥']

In [10]:
position.merge(right=company,how ='inner',on= 'companyId')

      positionId city  companyId  ... companyShortName companySize          businessZones
0        2537336   上海       8581  ...              1号店     2000人以上                 ['张江']
1        1200890   上海       8581  ...              1号店     2000人以上                 ['张江']
2        1296910   上海       8581  ...              1号店     2000人以上                 ['张江']
3        2386406   上海       8581  ...              1号店     2000人以上                 ['张江']
4        2514226   武汉       8581  ...              1号店     2000人以上                 ['张江']
...          ...  ...        ...  ...              ...         ...                    ...
5026     2378458   天津     112379  ...            天津美源星    150-500人                    NaN
5027     2508187   天津      32877  ...           瑞达恒RCC   500-2000人                 ['尖山']
5028      636485   天津      52887  ...             天津小猫      15-50人  ['和平路', '火车站', '后广场']
5029     2583183   北京      59239  ...            龙宝斋财富     2000人以上                ['京广桥']
5030     2582349   北京     156832  ...     北京富通基业投资有限公司     50-150人                ['西二旗']

[5031 rows x 20 columns]

In [12]:
#修改列名比较简单的方法
col = list(company.columns)
col[0]= 'id'
company.columns = col

In [13]:
company.head()

       id    companyFullName                  companyLabelList companyShortName companySize           businessZones
0    8581     纽海信息技术(上海)有限公司  ['技能培训', '节日礼物', '带薪年假', '岗位晋升']              1号店     2000人以上                  ['张江']
1   23177   上海点荣金融信息服务有限责任公司  ['节日礼物', '带薪年假', '岗位晋升', '扁平管理']              点融网   500-2000人  ['五里桥', '打浦桥', '制造局路']
2   57561     上海晶樵网络信息技术有限公司  ['技能培训', '绩效奖金', '岗位晋升', '管理规范']              SPD     50-150人                 ['打浦桥']
3    7502  杭州数云信息技术有限公司上海分公司  ['绩效奖金', '股票期权', '五险一金', '通讯津贴']               数云    150-500人  ['龙华', '上海体育场', '万体馆']
4  130876     上海银基富力信息技术有限公司  ['年底双薪', '通讯津贴', '定期体检', '绩效奖金']             银基富力      15-50人   ['上海影城', '新华路', '虹桥']

In [14]:
#merge合并表格针对某个列
position.merge(right=company,how ='inner',left_on= 'companyId',right_on = 'id')

      positionId city  companyId  ... companyShortName companySize          businessZones
0        2537336   上海       8581  ...              1号店     2000人以上                 ['张江']
1        1200890   上海       8581  ...              1号店     2000人以上                 ['张江']
2        1296910   上海       8581  ...              1号店     2000人以上                 ['张江']
3        2386406   上海       8581  ...              1号店     2000人以上                 ['张江']
4        2514226   武汉       8581  ...              1号店     2000人以上                 ['张江']
...          ...  ...        ...  ...              ...         ...                    ...
5026     2378458   天津     112379  ...            天津美源星    150-500人                    NaN
5027     2508187   天津      32877  ...           瑞达恒RCC   500-2000人                 ['尖山']
5028      636485   天津      52887  ...             天津小猫      15-50人  ['和平路', '火车站', '后广场']
5029     2583183   北京      59239  ...            龙宝斋财富     2000人以上                ['京广桥']
5030     2582349   北京     156832  ...     北京富通基业投资有限公司     50-150人                ['西二旗']

[5031 rows x 21 columns]

In [16]:
#join合并表格是针对索引
company.join(position)

          id    companyFullName                  companyLabelList companyShortName  ... bottom top   avg workYear
0       8581     纽海信息技术(上海)有限公司  ['技能培训', '节日礼物', '带薪年假', '岗位晋升']              1号店  ...      7   9   8.0    应届毕业生
1      23177   上海点荣金融信息服务有限责任公司  ['节日礼物', '带薪年假', '岗位晋升', '扁平管理']              点融网  ...     10  15  12.5    应届毕业生
2      57561     上海晶樵网络信息技术有限公司  ['技能培训', '绩效奖金', '岗位晋升', '管理规范']              SPD  ...      4   6   5.0    应届毕业生
3       7502  杭州数云信息技术有限公司上海分公司  ['绩效奖金', '股票期权', '五险一金', '通讯津贴']               数云  ...      6   8   7.0    应届毕业生
4     130876     上海银基富力信息技术有限公司  ['年底双薪', '通讯津贴', '定期体检', '绩效奖金']             银基富力  ...      2   3   2.5    应届毕业生
...      ...                ...                               ...              ...  ...    ...  ..   ...      ...
2291  112379        天津美源星商贸有限公司  ['年底双薪', '绩效奖金', '年终分红', '午餐补助']            天津美源星  ...     15  30  22.5     1-3年
2292   32877    北京瑞达恒建筑咨询股份有限公司  ['技能培训', '年底双薪', '带薪年假', '绩效奖金']           瑞达恒RCC  ...     10  20  15.0     1-3年
2293   52887       天津小猫网络科技有限公司  ['技能培训', '股票期权', '绩效奖金', '扁平管理']             天津小猫  ...     10  20  15.0     1-3年
2294   59239         普信资产管理有限公司  ['节日礼物', '技能培训', '绩效奖金', '岗位晋升']            龙宝斋财富  ...     15  25  20.0     1-3年
2295  156832       北京富通基业投资有限公司    ['节日礼物', '美女多', '帅哥多', '技能培训']     北京富通基业投资有限公司  ...      2   4   3.0     1年以下

[2296 rows x 21 columns]

In [21]:
#concat类似于表格的堆叠,axis为0是上下堆叠，1是左右堆叠。
pd.concat([company,position],axis = 1)

            id    companyFullName                  companyLabelList companyShortName  ... bottom top   avg workYear
0       8581.0     纽海信息技术(上海)有限公司  ['技能培训', '节日礼物', '带薪年假', '岗位晋升']              1号店  ...      7   9   8.0    应届毕业生
1      23177.0   上海点荣金融信息服务有限责任公司  ['节日礼物', '带薪年假', '岗位晋升', '扁平管理']              点融网  ...     10  15  12.5    应届毕业生
2      57561.0     上海晶樵网络信息技术有限公司  ['技能培训', '绩效奖金', '岗位晋升', '管理规范']              SPD  ...      4   6   5.0    应届毕业生
3       7502.0  杭州数云信息技术有限公司上海分公司  ['绩效奖金', '股票期权', '五险一金', '通讯津贴']               数云  ...      6   8   7.0    应届毕业生
4     130876.0     上海银基富力信息技术有限公司  ['年底双薪', '通讯津贴', '定期体检', '绩效奖金']             银基富力  ...      2   3   2.5    应届毕业生
...        ...                ...                               ...              ...  ...    ...  ..   ...      ...
5026       NaN                NaN                               NaN              NaN  ...     15  25  20.0     3-5年
5027       NaN                NaN                               NaN              NaN  ...     15  30  22.5     3-5年
5028       NaN                NaN                               NaN              NaN  ...     30  40  35.0    5-10年
5029       NaN                NaN                               NaN              NaN  ...      4   6   5.0       不限
5030       NaN                NaN                               NaN              NaN  ...     15  30  22.5       不限

[5031 rows x 21 columns]