In [1]:
import pandas as pd
import numpy as np
position = pd.read_csv('position.csv',encoding='utf-8')
company = pd.read_csv('company_utf.csv',encoding='utf-8')

In [6]:
#建立数据透视表
position.pivot_table(index='city',columns='workYear',values='avg')

               mean                                                      \
workYear       1-3年   10年以上       1年以下       3-5年      5-10年         不限
city
上海        13.677019  35.000   9.343750  19.898529  28.340580  10.420635
北京        15.711409  43.125   7.769231  21.718333  28.118677  12.524079
南京         9.312500     NaN   3.750000  14.360000  20.900000   8.021739
厦门        10.333333     NaN        NaN  13.400000        NaN  11.055556
天津         6.000000     NaN        NaN  11.400000  17.500000   7.357143
广州        10.959854     NaN  15.000000  14.721649  25.100000   6.947368
成都         9.813953     NaN   3.250000  14.670000  18.575000  10.050000
杭州        12.217791  30.000   6.500000  20.282609  25.172414  14.368421
武汉         8.600000     NaN   3.500000  13.722222  16.409091   5.750000
深圳        12.960000  30.800  15.250000  19.707500  26.415663  12.162162
苏州        11.636364     NaN        NaN  13.800000  24.428571   8.333333
西安         8.333333     NaN        NaN  13.214286  18.500000   3.416667
长沙         9.722222     NaN        NaN  11.100000  10.500000   6.625000

                        sum
workYear     应届毕业生     1-3年  10年以上   1年以下     3-5年   5-10年      不限  应届毕业生
city
上海        7.106061   4404.0  140.0  149.5   6765.5  3911.0  1313.0  234.5
北京        7.172414  11705.0  345.0  202.0  19546.5  7226.5  4421.0  416.0
南京        7.500000    223.5    NaN    7.5    359.0   104.5   184.5   30.0
厦门        7.500000    155.0    NaN    NaN     67.0     NaN    99.5    7.5
天津        3.000000     36.0    NaN    NaN     57.0    17.5    51.5    3.0
广州        4.562500   1501.5    NaN   15.0   1428.0   878.5   396.0   36.5
成都             NaN    422.0    NaN    6.5    733.5   371.5   201.0    NaN
杭州        8.750000   1991.5   30.0   13.0   3265.5   730.0   546.0  105.0
武汉        3.500000    172.0    NaN    3.5    370.5   180.5    46.0    7.0
深圳        8.307692   1944.0  154.0   30.5   3941.5  2192.5   900.0  108.0
苏州        7.500000    128.0    NaN    NaN    207.0   171.0    25.0    7.5
西安        7.500000    100.0    NaN    NaN    185.0    92.5    20.5    7.5
长沙        4.500000     87.5    NaN    NaN    111.0    10.5    26.5    4.5

In [13]:
position.pivot_table(index=['city','education'],
                     columns='workYear',
                     values=['avg','top'],
                     aggfunc = [np.mean,np.sum],margins=True)

                     mean                                              \
                      avg
workYear             1-3年      10年以上       1年以下       3-5年      5-10年
city education
上海   不限         12.666667  40.000000   6.250000  15.416667  18.500000
     博士         12.500000        NaN        NaN        NaN        NaN
     大专         10.790698        NaN   4.500000  17.466667  20.500000
     本科         14.209746  38.750000  11.090909  20.457090  27.548246
     硕士         14.500000  22.500000   6.000000  20.800000  40.821429
北京   不限         15.133333        NaN   9.000000  21.021739  30.500000
     博士         22.500000        NaN        NaN  27.500000        NaN
     大专          9.734848        NaN   6.642857  17.956522  23.958333
     本科         16.135537  40.714286   8.125000  21.742386  28.113122
     硕士         19.162791  60.000000   4.000000  25.630952  30.166667
南京   不限          6.500000        NaN        NaN        NaN  16.000000
     大专          9.875000        NaN        NaN  14.000000        NaN
     本科          9.500000        NaN   3.750000  14.142857  22.125000
     硕士               NaN        NaN        NaN  20.000000        NaN
厦门   不限               NaN        NaN        NaN        NaN        NaN
     大专          7.900000        NaN        NaN        NaN        NaN
     本科         11.550000        NaN        NaN  13.400000        NaN
     硕士               NaN        NaN        NaN        NaN        NaN
天津   不限               NaN        NaN        NaN        NaN        NaN
     大专          6.000000        NaN        NaN        NaN        NaN
     本科          6.000000        NaN        NaN  11.400000  17.500000
广州   不限          5.000000        NaN        NaN  13.833333        NaN
     大专          8.337209        NaN        NaN  12.750000  14.000000
     本科         12.274725        NaN  15.000000  15.493151  26.844828
     硕士         10.500000        NaN        NaN   8.666667  30.000000
成都   不限               NaN        NaN   3.500000  17.750000   9.500000
     大专          8.083333        NaN   3.000000  13.375000  16.666667
     本科         10.222222        NaN        NaN  14.930556  19.466667
     硕士          5.500000        NaN        NaN        NaN  20.000000
杭州   不限         13.055556        NaN        NaN  25.500000  30.000000
     大专          9.863636        NaN        NaN  18.944444        NaN
     本科         12.682609  30.000000   6.500000  19.832061  25.000000
     硕士         15.000000        NaN        NaN  30.625000  25.000000
武汉   不限          7.750000        NaN        NaN  16.625000  16.500000
     大专          6.833333        NaN        NaN  13.357143  13.833333
     本科          9.066667        NaN   3.500000  13.156250  17.500000
     硕士               NaN        NaN        NaN        NaN        NaN
深圳   不限         11.500000  22.500000   8.000000  18.000000  21.333333
     博士               NaN        NaN        NaN        NaN        NaN
     大专         10.625000  21.500000        NaN  14.416667  25.416667
     本科         13.388393  36.666667  22.500000  20.464072  26.983607
     硕士         19.500000        NaN        NaN  21.200000  25.000000
苏州   大专         10.000000        NaN        NaN  14.333333  20.000000
     本科         11.875000        NaN        NaN  13.666667  24.700000
     硕士         11.500000        NaN        NaN        NaN  27.500000
西安   不限         11.500000        NaN        NaN  12.000000        NaN
     大专          5.500000        NaN        NaN  11.250000  13.500000
     本科          9.062500        NaN        NaN  14.222222  19.750000
     硕士          5.000000        NaN        NaN        NaN        NaN
长沙   不限          9.750000        NaN        NaN   7.500000        NaN
     大专               NaN        NaN        NaN  13.500000        NaN
     本科          9.714286        NaN        NaN  12.250000  10.500000
     硕士               NaN        NaN        NaN   9.000000        NaN
All             13.802052  37.166667   8.221154  20.030827  26.835304

                                                                       ...  \
                                                       top             ...
workYear               不限      应届毕业生        All       1-3年      10年以上  ...
city education                                                         ...
上海   不限         13.578125        NaN  14.051471  15.944444  50.000000  ...
     博士         20.000000        NaN  15.000000  16.000000        NaN  ...
     大专          5.541667   4.500000  13.395455  13.581395        NaN  ...
     本科          9.825758   6.942308  17.987552  17.889831  45.000000  ...
     硕士          9.566667   8.250000  19.180000  18.347826  30.000000  ...
北京   不限         13.563636   5.750000  15.673387  19.266667        NaN  ...
     博士               NaN        NaN  25.000000  30.000000        NaN  ...
     大专          9.843137   5.000000  12.339474  12.212121        NaN  ...
     本科         13.147343   7.270270  19.435802  20.649587  50.000000  ...
     硕士         11.287500   9.333333  19.759740  24.581395  70.000000  ...
南京   不限          3.000000        NaN   7.000000   8.500000        NaN  ...
     大专          4.333333   7.500000   9.272727  12.000000        NaN  ...
     本科          8.038462   7.500000  11.327869  11.888889        NaN  ...
     硕士         12.200000        NaN  13.500000        NaN        NaN  ...
厦门   不限         12.500000        NaN  12.500000        NaN        NaN  ...
     大专          4.000000        NaN   6.785714  10.400000        NaN  ...
     本科         11.250000   7.500000  11.805556  14.700000        NaN  ...
     硕士         15.750000        NaN  15.750000        NaN        NaN  ...
天津   不限          3.500000        NaN   3.500000        NaN        NaN  ...
     大专          4.000000        NaN   5.500000   7.333333        NaN  ...
     本科          8.800000   3.000000   9.300000   7.333333        NaN  ...
广州   不限          8.062500        NaN   9.250000   6.000000        NaN  ...
     大专          5.633333   4.166667   8.988095  10.372093        NaN  ...
     本科          6.727273   4.800000  14.170259  15.637363        NaN  ...
     硕士         25.000000        NaN  14.571429  13.000000        NaN  ...
成都   不限          9.000000        NaN  10.562500        NaN        NaN  ...
     大专          6.000000        NaN  11.000000  10.333333        NaN  ...
     本科         11.750000        NaN  13.520202  12.944444        NaN  ...
     硕士               NaN        NaN  12.750000   7.000000        NaN  ...
杭州   不限         16.142857  10.500000  18.269231  16.888889        NaN  ...
     大专          8.200000   3.750000  12.327586  12.454545        NaN  ...
     本科         14.659091   9.437500  16.823432  16.260870  40.000000  ...
     硕士         17.375000  11.500000  20.710526  19.166667        NaN  ...
武汉   不限          3.666667        NaN  10.950000  10.000000        NaN  ...
     大专          1.500000        NaN  11.214286   9.000000        NaN  ...
     本科          8.833333   3.500000  11.500000  11.800000        NaN  ...
     硕士          7.000000        NaN   7.000000        NaN        NaN  ...
深圳   不限         15.750000   3.500000  15.100000  13.833333  30.000000  ...
     博士               NaN  35.000000  35.000000        NaN        NaN  ...
     大专          9.323529   4.250000  13.898936  13.428571  25.000000  ...
     本科         12.630435   8.800000  18.532911  17.125000  41.666667  ...
     硕士         13.928571        NaN  18.029412  26.000000        NaN  ...
苏州   大专               NaN        NaN  14.600000  13.000000        NaN  ...
     本科          8.333333   7.500000  14.310345  14.875000        NaN  ...
     硕士               NaN        NaN  16.833333  15.000000        NaN  ...
西安   不限          2.500000        NaN   8.666667  15.000000        NaN  ...
     大专          4.000000        NaN   8.150000   7.000000        NaN  ...
     本科          3.000000   7.500000  12.208333  11.750000        NaN  ...
     硕士               NaN        NaN   5.000000   6.000000        NaN  ...
长沙   不限          6.333333        NaN   7.642857  11.500000        NaN  ...
     大专               NaN   4.500000   9.000000        NaN        NaN  ...
     本科          7.500000        NaN  10.633333  12.571429        NaN  ...
     硕士               NaN        NaN   9.000000        NaN        NaN  ...
All             11.305632   7.162963  17.111409  17.576343  45.000000  ...

                  sum                                                    \
                  avg               top
workYear        应届毕业生      All     1-3年  10年以上   1年以下     3-5年    5-10年
city education
上海   不限           NaN    955.5    287.0   50.0   15.0    240.0     71.0
     博士           NaN     45.0     32.0    NaN    NaN      NaN      NaN
     大专           4.5   1473.5    584.0    NaN   11.0    984.0    175.0
     本科         180.5  13005.0   4222.0   90.0  156.0   6869.0   3929.0
     硕士          49.5   1438.5    422.0   30.0    7.0    406.0    720.0
北京   不限          23.0   1943.5    578.0    NaN   69.0    625.0    233.0
     博士           NaN     50.0     30.0    NaN    NaN     35.0      NaN
     大专          40.0   2344.5    806.0    NaN   60.0   1028.0    370.0
     本科         269.0  36481.0  12493.0  350.0  121.0  21724.0   7722.0
     硕士          84.0   3043.0   1057.0   70.0    5.0   1370.0    655.0
南京   不限           NaN     35.0     17.0    NaN    NaN      NaN     20.0
     大专           7.5    102.0     48.0    NaN    NaN     53.0      NaN
     本科          22.5    691.0    214.0    NaN   10.0    377.0    111.0
     硕士           NaN     81.0      NaN    NaN    NaN     25.0      NaN
厦门   不限           NaN     37.5      NaN    NaN    NaN      NaN      NaN
     大专           NaN     47.5     52.0    NaN    NaN      NaN      NaN
     本科           7.5    212.5    147.0    NaN    NaN     86.0      NaN
     硕士           NaN     31.5      NaN    NaN    NaN      NaN      NaN
天津   不限           NaN      3.5      NaN    NaN    NaN      NaN      NaN
     大专           NaN     22.0     22.0    NaN    NaN      NaN      NaN
     本科           3.0    139.5     22.0    NaN    NaN     72.0     20.0
广州   不限           NaN    111.0      6.0    NaN    NaN     53.0      NaN
     大专          12.5    755.0    446.0    NaN    NaN    288.0     83.0
     本科          24.0   3287.5   1423.0    NaN   20.0   1429.0    977.0
     硕士           NaN    102.0     26.0    NaN    NaN     33.0     40.0
成都   不限           NaN     84.5      NaN    NaN    4.0     44.0     12.0
     大专           NaN    286.0     62.0    NaN    4.0    202.0     62.0
     本科           NaN   1338.5    466.0    NaN    NaN    680.0    364.0
     硕士           NaN     25.5      7.0    NaN    NaN      NaN     25.0
杭州   不限          10.5    475.0    152.0    NaN    NaN    259.0     40.0
     大专           7.5    715.0    411.0    NaN    NaN    442.0      NaN
     本科          75.5   5097.5   1870.0   40.0   16.0   3320.0    759.0
     硕士          11.5    393.5    115.0    NaN    NaN    150.0    120.0
武汉   不限           NaN    109.5     20.0    NaN    NaN     85.0     20.0
     大专           NaN    157.0     27.0    NaN    NaN    122.0     50.0
     本科           7.0    506.0    177.0    NaN    4.0    270.0    158.0
     硕士           NaN      7.0      NaN    NaN    NaN      NaN      NaN
深圳   不限           3.5    302.0     83.0   30.0   10.0     91.0     77.0
     博士          35.0     35.0      NaN    NaN    NaN      NaN      NaN
     大专          25.5   1306.5    376.0   25.0    NaN    430.0    568.0
     本科          44.0   7320.5   1918.0  125.0   30.0   4395.0   2088.0
     硕士           NaN    306.5    104.0    NaN    NaN    138.0     30.0
苏州   大专           NaN     73.0     13.0    NaN    NaN     55.0     25.0
     本科           7.5    415.0    119.0    NaN    NaN    208.0    159.0
     硕士           NaN     50.5     30.0    NaN    NaN      NaN     35.0
西安   不限           NaN     26.0     15.0    NaN    NaN     12.0      NaN
     大专           NaN     81.5     14.0    NaN    NaN     54.0     15.0
     本科           7.5    293.0     94.0    NaN    NaN    165.0     98.0
     硕士           NaN      5.0      6.0    NaN    NaN      NaN      NaN
长沙   不限           NaN     53.5     23.0    NaN    NaN     17.0      NaN
     大专           4.5     18.0      NaN    NaN    NaN     18.0      NaN
     本科           NaN    159.5     88.0    NaN    NaN     97.0     12.0
     硕士           NaN      9.0      NaN    NaN    NaN     12.0      NaN
All             967.0  86087.5  29124.0  810.0  542.0  46963.0  19843.0



workYear             不限   应届毕业生     All
city education
上海   不限           558.0     NaN    1221
     博士            25.0     NaN      57
     大专            83.0     5.0    1842
     本科           828.0   219.0   16313
     硕士           182.0    60.0    1827
北京   不限           944.0    29.0    2478
     博士             NaN     NaN      65
     大专           630.0    49.0    2943
     本科          3473.0   332.0   46215
     硕士           574.0   105.0    3836
南京   不限             8.0     NaN      45
     大专            16.0     9.0     126
     本科           135.0    28.0     875
     硕士            80.0     NaN     105
厦门   不限            50.0     NaN      50
     大专            10.0     NaN      62
     本科            30.0    10.0     273
     硕士            42.0     NaN      42
天津   不限             4.0     NaN       4
     大专             5.0     NaN      27
     本科            55.0     4.0     173
广州   不限            81.0     NaN     140
     大专           103.0    16.0     936
     本科           280.0    29.0    4158
     硕士            30.0     NaN     129
成都   不限            48.0     NaN     108
     大专            31.0     NaN     361
     本科           179.0     NaN    1689
     硕士             NaN     NaN      32
杭州   不限           147.0    14.0     612
     大专            54.0     9.0     916
     本科           418.0    99.0    6522
     硕士            86.0    15.0     486
武汉   不限            13.0     NaN     138
     大专             2.0     NaN     201
     本科            35.0     9.0     653
     硕士             8.0     NaN       8
深圳   不限            80.0     4.0     375
     博士             NaN    40.0      40
     大专           190.0    31.0    1620
     本科           741.0    54.0    9351
     硕士           124.0     NaN     396
苏州   大专             NaN     NaN      93
     本科            31.0    10.0     527
     硕士             NaN     NaN      65
西安   不限             3.0     NaN      30
     大专            16.0     NaN      99
     本科             8.0     9.0     374
     硕士             NaN     NaN       6
长沙   不限            23.0     NaN      63
     大专             NaN     6.0      24
     本科            10.0     NaN     207
     硕士             NaN     NaN      12
All             10473.0  1195.0  108950

[54 rows x 32 columns]

In [14]:
#对值的针对性计算
position.pivot_table(index=['city','education'],
                     columns='workYear',
                     values=['avg','top'],
                     aggfunc = {'avg':np.mean,'top':np.sum},margins=True)

                      avg                                              \
workYear             1-3年      10年以上       1年以下       3-5年      5-10年
city education
上海   不限         12.666667  40.000000   6.250000  15.416667  18.500000
     博士         12.500000        NaN        NaN        NaN        NaN
     大专         10.790698        NaN   4.500000  17.466667  20.500000
     本科         14.209746  38.750000  11.090909  20.457090  27.548246
     硕士         14.500000  22.500000   6.000000  20.800000  40.821429
北京   不限         15.133333        NaN   9.000000  21.021739  30.500000
     博士         22.500000        NaN        NaN  27.500000        NaN
     大专          9.734848        NaN   6.642857  17.956522  23.958333
     本科         16.135537  40.714286   8.125000  21.742386  28.113122
     硕士         19.162791  60.000000   4.000000  25.630952  30.166667
南京   不限          6.500000        NaN        NaN        NaN  16.000000
     大专          9.875000        NaN        NaN  14.000000        NaN
     本科          9.500000        NaN   3.750000  14.142857  22.125000
     硕士               NaN        NaN        NaN  20.000000        NaN
厦门   不限               NaN        NaN        NaN        NaN        NaN
     大专          7.900000        NaN        NaN        NaN        NaN
     本科         11.550000        NaN        NaN  13.400000        NaN
     硕士               NaN        NaN        NaN        NaN        NaN
天津   不限               NaN        NaN        NaN        NaN        NaN
     大专          6.000000        NaN        NaN        NaN        NaN
     本科          6.000000        NaN        NaN  11.400000  17.500000
广州   不限          5.000000        NaN        NaN  13.833333        NaN
     大专          8.337209        NaN        NaN  12.750000  14.000000
     本科         12.274725        NaN  15.000000  15.493151  26.844828
     硕士         10.500000        NaN        NaN   8.666667  30.000000
成都   不限               NaN        NaN   3.500000  17.750000   9.500000
     大专          8.083333        NaN   3.000000  13.375000  16.666667
     本科         10.222222        NaN        NaN  14.930556  19.466667
     硕士          5.500000        NaN        NaN        NaN  20.000000
杭州   不限         13.055556        NaN        NaN  25.500000  30.000000
     大专          9.863636        NaN        NaN  18.944444        NaN
     本科         12.682609  30.000000   6.500000  19.832061  25.000000
     硕士         15.000000        NaN        NaN  30.625000  25.000000
武汉   不限          7.750000        NaN        NaN  16.625000  16.500000
     大专          6.833333        NaN        NaN  13.357143  13.833333
     本科          9.066667        NaN   3.500000  13.156250  17.500000
     硕士               NaN        NaN        NaN        NaN        NaN
深圳   不限         11.500000  22.500000   8.000000  18.000000  21.333333
     博士               NaN        NaN        NaN        NaN        NaN
     大专         10.625000  21.500000        NaN  14.416667  25.416667
     本科         13.388393  36.666667  22.500000  20.464072  26.983607
     硕士         19.500000        NaN        NaN  21.200000  25.000000
苏州   大专         10.000000        NaN        NaN  14.333333  20.000000
     本科         11.875000        NaN        NaN  13.666667  24.700000
     硕士         11.500000        NaN        NaN        NaN  27.500000
西安   不限         11.500000        NaN        NaN  12.000000        NaN
     大专          5.500000        NaN        NaN  11.250000  13.500000
     本科          9.062500        NaN        NaN  14.222222  19.750000
     硕士          5.000000        NaN        NaN        NaN        NaN
长沙   不限          9.750000        NaN        NaN   7.500000        NaN
     大专               NaN        NaN        NaN  13.500000        NaN
     本科          9.714286        NaN        NaN  12.250000  10.500000
     硕士               NaN        NaN        NaN   9.000000        NaN
All             13.802052  37.166667   8.221154  20.030827  26.835304

                                                     top                \
workYear               不限      应届毕业生        All     1-3年  10年以上   1年以下
city education
上海   不限         13.578125        NaN  14.051471    287.0   50.0   15.0
     博士         20.000000        NaN  15.000000     32.0    NaN    NaN
     大专          5.541667   4.500000  13.395455    584.0    NaN   11.0
     本科          9.825758   6.942308  17.987552   4222.0   90.0  156.0
     硕士          9.566667   8.250000  19.180000    422.0   30.0    7.0
北京   不限         13.563636   5.750000  15.673387    578.0    NaN   69.0
     博士               NaN        NaN  25.000000     30.0    NaN    NaN
     大专          9.843137   5.000000  12.339474    806.0    NaN   60.0
     本科         13.147343   7.270270  19.435802  12493.0  350.0  121.0
     硕士         11.287500   9.333333  19.759740   1057.0   70.0    5.0
南京   不限          3.000000        NaN   7.000000     17.0    NaN    NaN
     大专          4.333333   7.500000   9.272727     48.0    NaN    NaN
     本科          8.038462   7.500000  11.327869    214.0    NaN   10.0
     硕士         12.200000        NaN  13.500000      NaN    NaN    NaN
厦门   不限         12.500000        NaN  12.500000      NaN    NaN    NaN
     大专          4.000000        NaN   6.785714     52.0    NaN    NaN
     本科         11.250000   7.500000  11.805556    147.0    NaN    NaN
     硕士         15.750000        NaN  15.750000      NaN    NaN    NaN
天津   不限          3.500000        NaN   3.500000      NaN    NaN    NaN
     大专          4.000000        NaN   5.500000     22.0    NaN    NaN
     本科          8.800000   3.000000   9.300000     22.0    NaN    NaN
广州   不限          8.062500        NaN   9.250000      6.0    NaN    NaN
     大专          5.633333   4.166667   8.988095    446.0    NaN    NaN
     本科          6.727273   4.800000  14.170259   1423.0    NaN   20.0
     硕士         25.000000        NaN  14.571429     26.0    NaN    NaN
成都   不限          9.000000        NaN  10.562500      NaN    NaN    4.0
     大专          6.000000        NaN  11.000000     62.0    NaN    4.0
     本科         11.750000        NaN  13.520202    466.0    NaN    NaN
     硕士               NaN        NaN  12.750000      7.0    NaN    NaN
杭州   不限         16.142857  10.500000  18.269231    152.0    NaN    NaN
     大专          8.200000   3.750000  12.327586    411.0    NaN    NaN
     本科         14.659091   9.437500  16.823432   1870.0   40.0   16.0
     硕士         17.375000  11.500000  20.710526    115.0    NaN    NaN
武汉   不限          3.666667        NaN  10.950000     20.0    NaN    NaN
     大专          1.500000        NaN  11.214286     27.0    NaN    NaN
     本科          8.833333   3.500000  11.500000    177.0    NaN    4.0
     硕士          7.000000        NaN   7.000000      NaN    NaN    NaN
深圳   不限         15.750000   3.500000  15.100000     83.0   30.0   10.0
     博士               NaN  35.000000  35.000000      NaN    NaN    NaN
     大专          9.323529   4.250000  13.898936    376.0   25.0    NaN
     本科         12.630435   8.800000  18.532911   1918.0  125.0   30.0
     硕士         13.928571        NaN  18.029412    104.0    NaN    NaN
苏州   大专               NaN        NaN  14.600000     13.0    NaN    NaN
     本科          8.333333   7.500000  14.310345    119.0    NaN    NaN
     硕士               NaN        NaN  16.833333     30.0    NaN    NaN
西安   不限          2.500000        NaN   8.666667     15.0    NaN    NaN
     大专          4.000000        NaN   8.150000     14.0    NaN    NaN
     本科          3.000000   7.500000  12.208333     94.0    NaN    NaN
     硕士               NaN        NaN   5.000000      6.0    NaN    NaN
长沙   不限          6.333333        NaN   7.642857     23.0    NaN    NaN
     大专               NaN   4.500000   9.000000      NaN    NaN    NaN
     本科          7.500000        NaN  10.633333     88.0    NaN    NaN
     硕士               NaN        NaN   9.000000      NaN    NaN    NaN
All             11.305632   7.162963  17.111409  29124.0  810.0  542.0


workYear           3-5年    5-10年       不限   应届毕业生     All
city education
上海   不限           240.0     71.0    558.0     NaN    1221
     博士             NaN      NaN     25.0     NaN      57
     大专           984.0    175.0     83.0     5.0    1842
     本科          6869.0   3929.0    828.0   219.0   16313
     硕士           406.0    720.0    182.0    60.0    1827
北京   不限           625.0    233.0    944.0    29.0    2478
     博士            35.0      NaN      NaN     NaN      65
     大专          1028.0    370.0    630.0    49.0    2943
     本科         21724.0   7722.0   3473.0   332.0   46215
     硕士          1370.0    655.0    574.0   105.0    3836
南京   不限             NaN     20.0      8.0     NaN      45
     大专            53.0      NaN     16.0     9.0     126
     本科           377.0    111.0    135.0    28.0     875
     硕士            25.0      NaN     80.0     NaN     105
厦门   不限             NaN      NaN     50.0     NaN      50
     大专             NaN      NaN     10.0     NaN      62
     本科            86.0      NaN     30.0    10.0     273
     硕士             NaN      NaN     42.0     NaN      42
天津   不限             NaN      NaN      4.0     NaN       4
     大专             NaN      NaN      5.0     NaN      27
     本科            72.0     20.0     55.0     4.0     173
广州   不限            53.0      NaN     81.0     NaN     140
     大专           288.0     83.0    103.0    16.0     936
     本科          1429.0    977.0    280.0    29.0    4158
     硕士            33.0     40.0     30.0     NaN     129
成都   不限            44.0     12.0     48.0     NaN     108
     大专           202.0     62.0     31.0     NaN     361
     本科           680.0    364.0    179.0     NaN    1689
     硕士             NaN     25.0      NaN     NaN      32
杭州   不限           259.0     40.0    147.0    14.0     612
     大专           442.0      NaN     54.0     9.0     916
     本科          3320.0    759.0    418.0    99.0    6522
     硕士           150.0    120.0     86.0    15.0     486
武汉   不限            85.0     20.0     13.0     NaN     138
     大专           122.0     50.0      2.0     NaN     201
     本科           270.0    158.0     35.0     9.0     653
     硕士             NaN      NaN      8.0     NaN       8
深圳   不限            91.0     77.0     80.0     4.0     375
     博士             NaN      NaN      NaN    40.0      40
     大专           430.0    568.0    190.0    31.0    1620
     本科          4395.0   2088.0    741.0    54.0    9351
     硕士           138.0     30.0    124.0     NaN     396
苏州   大专            55.0     25.0      NaN     NaN      93
     本科           208.0    159.0     31.0    10.0     527
     硕士             NaN     35.0      NaN     NaN      65
西安   不限            12.0      NaN      3.0     NaN      30
     大专            54.0     15.0     16.0     NaN      99
     本科           165.0     98.0      8.0     9.0     374
     硕士             NaN      NaN      NaN     NaN       6
长沙   不限            17.0      NaN     23.0     NaN      63
     大专            18.0      NaN      NaN     6.0      24
     本科            97.0     12.0     10.0     NaN     207
     硕士            12.0      NaN      NaN     NaN      12
All             46963.0  19843.0  10473.0  1195.0  108950