In [1]:
l = [1,2,3,4]

In [4]:
l.insert(4,5)

In [5]:
l

[1, 2, 3, 4, 5]

In [6]:
l.append(6)

In [7]:
l

[1, 2, 3, 4, 5, 6]

In [9]:
l.append([7,8])

In [13]:
l.remove([7,8])

In [14]:
l

[1, 2, 3, 4, 5, 6]

In [15]:
b=[[1,2],[3,4]]

In [16]:
b

[[1, 2], [3, 4]]

In [18]:
name = ['A','B','C']
sex = ['male','female','male']
age = ['20','21','22']
info = [name, sex, age]
info

[['A', 'B', 'C'], ['male', 'female', 'male'], ['20', '21', '22']]

In [19]:
info[1]

['male', 'female', 'male']

In [20]:
info[0][1]

'B'

In [21]:
a =(0,1)

In [22]:
a[0]

0

In [23]:
a = {'id':1,'name':'kodi','sex':'male','age':22}

In [24]:
#字典是无序的，并没有顺序
a['id']

1

In [25]:
a

{'id': 1, 'name': 'kodi', 'sex': 'male', 'age': 22}

In [26]:
'id' in a

True

In [28]:
a.pop('sex')

'male'

In [29]:
a

{'id': 1, 'name': 'kodi', 'age': 22}

In [32]:
a = [1,2,3,3]
b = [2,3,4]

In [34]:
#set()函数是把列表集合化，与list一起使用可以快速删除list里的重复项
list(set(a))

[1, 2, 3]

In [35]:
set(a)&set(b)

{2, 3}

In [37]:
set(a)|set(b)

{1, 2, 3, 4}

In [38]:
set(a)-set(b)

{1}

In [39]:
b = {'name':'sam','age':18}

In [40]:
b.keys()

dict_keys(['name', 'age'])

In [45]:
b.values()

dict_values(['sam', 18])

In [46]:
list(b.keys())

['name', 'age']

In [47]:
list(b.values())

['sam', 18]

In [52]:
#对字典中的key，进行判断,如果有返回对应的值，否则返回default
b.get('name',0)

'sam'

In [53]:
#如果有可以查询，没有则直接进行赋值
b.setdefault('sex','female')

'female'