In [1]:
#https://www.kesci.com/home/project/5e71dd6ec59d610036221337
import pandas as pd 
import numpy as np

In [14]:
path1 = 'C:/Users/REGGIE/Desktop/数据分析资料/exercise_data/chipotle.tsv'

In [16]:
chi = pd.read_csv(path1,sep = '\t')

In [17]:
chi.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [19]:
chi.shape

(4622, 5)

In [20]:
chi.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [21]:
chi.index

RangeIndex(start=0, stop=4622, step=1)

In [31]:
item = chi[['quantity','item_name']]

In [35]:
most = item.groupby(by = 'item_name').agg({'quantity':sum})

In [38]:
most.sort_values('quantity',ascending=False).head()

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [40]:
#统计“item_name”列中不同值的个数，不包括null值
chi['item_name'].nunique()

50

In [41]:
#在choice_description中，下单次数最多的商品是什么？
chi['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [44]:
#一共有多少商品被下单？
chi['quantity'].sum()

4972

In [46]:
#将item_price转换为浮点数
chi['item_price'] = chi['item_price'].apply(lambda x: float(x[1:-1]))

In [47]:
#在该数据集对应的时期内，收入(revenue)是多少
chi['total_income'] = round(chi['quantity'] * chi['item_price'],2)
chi['total_income'].sum()

39237.02

In [49]:
#在该数据集对应的时期内，一共有多少订单？
chi['order_id'].nunique()

1834

In [59]:
#每一单(order)对应的平均总价是多少？
chi[['order_id','total_income']].groupby(by = 'order_id').agg({'total_income':sum})['total_income'].mean()

21.394231188658654

In [61]:
#一共有多少种不同的商品被售出？
chi['item_name'].nunique()

50